<div class="container-fluid">
    <div class="row bg-secondary d-flex align-items-center">
        <div class="col-md-6 text-light">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h1 class="fs-54">Seja bem vinda(o)</h1>
                    <h6 class="fs-18">Expresse aqui suas opiniões e pensamentos</h6>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <button class="btn btn-light mr-2" data-toggle="modal" data-target="#novaPostagem">Nova
                        postagem</button>
                    <a class="btn btn-outline-light" href="#postagens">Ver postagens</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 d-flex justify-content-center">
            <img src="https://i.imgur.com/RVHhUF3.png" width="500px" height="500px" alt="">
        </div>
    </div>


</div>

<div class="container mb-5 mt-5" id="postagens">
    <nav>

        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
            <a class="nav-link active text-secondary font-weight-bold" id="nav-postagens-tab" data-toggle="tab"
                href="#nav-postagens" role="tab" aria-controls="nav-postagens" aria-selected="true">Todas as
                postagens</a>

            <a class="nav-link text-secondary font-weight-bold" id="nav-minhaspostagens-tab" data-toggle="tab"
                href="#nav-minhaspostagens" role="tab" aria-controls="nav-minhaspostagens" aria-selected="false" (click)= "findPostagemByUser()">Minhas
                postagens</a>

            <a class="nav-link text-secondary font-weight-bold" id="nav-temas-tab" data-toggle="tab" href="#nav-temas"
                role="tab" aria-controls="nav-temas" aria-selected="false">Postagens por tema</a>
        </div>

    </nav>

    <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade show active" id="nav-postagens" role="tabpanel" aria-labelledby="nav-postagens-tab">

            <div class="card-columns p-4">

                <div class="card text-center" *ngFor="let post of postagensLista">
                    <div class="card-body shadow-sm p-3 bg-white rounded">
                        <h5 class="card-title">{{post.titulo}}</h5>
                        <small class="text-muted pb-3">Tema: {{post.tema.descricao}}</small>
                        <p class="card-text">{{post.texto}}</p>
                        <p class="card-text"><small class="text-muted">{{post.data | date: "dd/MM/yyyy"}} às {{post.data | date: "HH:mm"}}</small>
                        </p>
                        <p>by: {{post.usuario.nome}}</p>
                    </div>
                </div>

            </div>

        </div>

        <div class="tab-pane fade" id="nav-minhaspostagens" role="tabpanel" aria-labelledby="nav-minhaspostagens-tab">
            
            <div class="card-columns p-4">

                <div class="card text-center" *ngFor="let post of postagensUser">
                    <div class="card-body shadow-sm p-3 bg-white rounded">
                        <h5 class="card-title">{{post.titulo}}</h5>
                        <small class="text-muted pb-3">Tema: {{post.tema.descricao}}</small>
                        <p class="card-text">{{post.texto}}</p>
                        <p class="card-text"><small class="text-muted">{{post.data | date: "dd/MM/yyyy"}} às {{post.data | date: "HH:mm"}}</small>
                        </p>
                        <p>by: {{post.usuario.nome}}</p>
                    </div>
                </div>

            </div>
            
        </div>

        <div class="tab-pane fade" id="nav-temas" role="tabpanel" aria-labelledby="nav-temas-tab">
            
            <div class="row d-flex justify-content-start pt-3">
                <div class="col-md-4">
                    <h6>Selecione o tema para filtragem: </h6>
                    <select class="custom-select" (change) = "findTemaById()">
                        <option *ngFor = "let tema of temaLista" value="tema.id" >{{tema.descricao}}</option>
                      </select>
                </div>
            </div>

            <div class="row pt-5 d-flex justify-content-center">
                
                <div class="card text-center" *ngFor="let post of postagensUser">
                    <div class="card-body shadow-sm p-3 bg-white rounded">
                        <h5 class="card-title">{{post.titulo}}</h5>
                        <small class="text-muted pb-3">Tema: {{post.tema.descricao}}</small>
                        <p class="card-text">{{post.texto}}</p>
                        <p class="card-text"><small class="text-muted">{{post.data | date: "dd/MM/yyyy"}} às {{post.data | date: "HH:mm"}}</small>
                        </p>
                        <p>by: {{post.usuario.nome}}</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>



<!-- Modal -->
<div class="modal fade" id="novaPostagem" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="novaPostagem" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="novaPostagem">Nova postagem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="form-group">
                    <label for="titulo">Título</label>
                    <input [(ngModel)]="postagem.titulo" type="text" class="form-control" id="titulo">
                </div>

                <div class="form-group">
                    <label for="texto">Texto</label>
                    <textarea [(ngModel)]="postagem.texto" type="text" class="form-control" name="texto" id="texto"
                        cols="6" rows="4"></textarea>
                </div>

                <div class="form-group">
                    <label for="temapostagem">Escolha um tema ou <a data-dismiss="modal" routerLink="/tema">cadastre um
                            novo </a>:</label>
                    <select [(ngModel)]="idTema" class="form-control" id="temapostagem" (change)='findTemaById()'>
                        <option *ngFor='let tema of temaLista' [value]="tema.id">{{tema.descricao}}</option>
                    </select>
                </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" (click)='cadastrarPostagem()'
                    data-dismiss="modal">Publicar</button>
            </div>
        </div>
    </div>
</div>