<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item active">
        <img [src]="urlImgMenu" alt="" width="50px" height="50px" class="img-fluid rounded-circle">
      </li>

      <li class="nav-item p-3">
        <p class="m-0 font-weight-bold text-white fs-16">Olá, {{nome}}!</p>
      </li>
      <li>
        <a data-toggle="modal"
        data-target="#edicaoUser">
          <p class="text-white fs-16 m-0"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </p>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto d-flex align-items-center">

      <a (click)='sair()' class="m-0 font-weight-bold text-white fs-16">Sair <i class="fa fa-sign-out"
          aria-hidden="true"></i></a>
    </ul>
  </div>
</nav>

<!-- Edição de dados do usuário -->
<div class="modal fade" id="edicaoUser" tabindex="-1" aria-labelledby="edicaoUser" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title" id="edicaoUser">Edição de dados</h5>
      </div>

      <div class="modal-body">

        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <img [src]="usuario.foto" alt="Imagem do usuário logado" class="img-fluid img-thumbnail">
           
            <div class="form-group pt-5 text-center">
              <label for="imagemUser" class="text-center">Sua imagem:</label>
              <input [(ngModel)] = "usuario.foto" type="text" class="form-control" id="imagemUser">
            </div>

            <div class="form-group pt-1 text-center">
              <label for="imagemUser" class="text-center">Seu nome:</label>
              <input [(ngModel)] = "usuario.nome" type="text" class="form-control" id="imagemUser">
            </div>


          </div>
        </div>

      </div>

      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-dark" data-dismiss="modal" >Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" >Salvar
          edição</button>
      </div>

    </div>
  </div>
</div>
<!-- /edição de dados do usuário -->